.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  color: $footer-color;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  padding: 0;

  #more-info {
    background-color: #edecec;

    p {
      padding-top: 8px;
    }
  }

  #more-info,
  #footer-bottom-bar {
    .footer-link, 
    .site-nav {
      a {
        border-bottom: 1px solid #000;
      }
    }

    .grid__item {
      padding: 0 40px;
    }
  }


  #more-info {
    .grid__item {
      padding: 70px 40px;
    }
  }

  #footer-bottom-bar {
    .grid__item {
      padding: 20px 40px;
    }
  }

  .copyright-text {
    border-left: 1px solid #eeeeee;

    p {
      margin-bottom: 0;
    }
  }
}
