/* Contents */


/*

#Submit A Store

*/


/*============ #Submit A Store ===========*/

#submit-a-store {
	padding-top: 70px;
	padding-bottom: 70px;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 65px;
}