/* Contents */


/*

#General
#Submit A Store

*/

/*============ #General ===========*/

p.return-link {
	a {
		border-bottom: 1px solid #000;
	}
}

/*============ #Submit A Store ===========*/

#submit-a-store {
	padding-top: 70px;
	padding-bottom: 70px;
	max-width: 400px;
	margin: 0 auto;
	margin-top: 65px;

	.submit-form {
		padding: 50px 0;
	}
}